.create-feed-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mainImagePreview {
  position: relative;
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  & button {
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.mainImageSection {
  background-color: var(--sub-color);
  display: flex;
  flex-grow: 1.4;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--light-gray-color);
  }

  & input {
    display: none;
  }
}

.feed-icon {
  width: 3em;
}

.create-feed-inner {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & textarea {
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 1em;
    flex-grow: 0.7;
    background-color: var(--sub-color);
  }
}

.feed-create-tag {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    & li {
      display: flex;
      align-items: center;
    }

    & div {
      background-color: var(--sub-color);
      font-size: 1em;
      border-radius: 5px;
      border: none;
      padding: 0.2em 0.5em;
      white-space: nowrap;
      display: flex;

      & span {
        width: 100%;
      }
    }
  }
}

.tag-title {
  display: flex;
  align-items: center;
  flex-grow: 0.1;

  & button {
    background-color: none;
  }
}
