.feed-detail-container {
  overflow-y: auto;

  & input {
    width: 85%;
    background-color: var(--sub-color);
    border-radius: 30px;
    padding-left: 1em;
    padding-right: 2.5em;
  }

  & ul {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  & li {
    padding: 0 0.8em;
    margin-bottom: 1.5em;
  }
}

.feed-comment-section {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  margin-bottom: 1em;
  position: relative;
}

#addComment-icon {
  position: absolute;
  right: 2.2em;
  top: 20%;
  width: 1.5em;
}

.feed-comment {
  display: flex;
}

.feed-comment-top {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & p {
    display: flex;
    gap: 0.6em;
  }
}

.feed-comment-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 1em;
}

.feed-content-inner {
  padding-right: 1em;
  padding-top: 0.3em;
  width: 100%;
}

.feed-end-comment {
  padding: 1em;
  text-align: center;
  color: var(--light-gray-color);
}

.comment-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.comment-delete {
  position: absolute;
  width: 3em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1em;
  left: -2em;
  color: var(--warn-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.feed-inner-text {
  display: flex;
  text-align: center;
  align-items: center;
}

.feed-view-icon {
  width: 2em;
  color: #b7b7b7;
}

.feed-view-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.7em;
}
