.tabs-header{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: var(--light-gray-color);
    li {
        text-align: center;
        flex-grow: 1;
        padding: .8em 0 1.4em;
        cursor: pointer;
        span {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: var(--point-color);
                border-radius: 1000px;
                left: 50%;
                bottom: -.6em;
                transform: translate(-50% , 0);
                transition: all .3s;
                scale: 0;
            }
        }
    }
    .active {
        color: var(--text-color);
        span::after {
            scale: 1;
        }
    }
}