@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  margin-left: 4%;
}

.cover-container.exit {
  animation: fadeOut 0.5s ease forwards; /* 종료 애니메이션 */
}

.cover-container img {
  animation: fadeInSlideUp 1s ease 0.2s forwards; /* 로고 살짝 지연 후 표시 */
}

.cover-container p {
  color: var(--text-color);
  margin-top: 6%;
  font-size: 16px;
  font-weight: bold;
  opacity: 0; /* 초기 상태 */
  animation: fadeInSlideUp 1s ease 0.4s forwards; /* 텍스트 지연 후 표시 */
}
