#temporary-inner-body{
    width: clamp(300px , 100%, 450px);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.admin-layout-main{
    background-color: var(--sub-color);
    flex-grow: 1;
    main {
        min-height: 100%;
        padding: 1.2em;
    }
}

