.signUpPage-Container {
  width: 100%;
}

.signUpPage-Container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_Link {
  text-align: center;
  position: relative;
  top: 14rem;
}

.page_Link a {
  text-decoration: none;
  color: inherit;
}
