#commonLayout {
  height: 100vh;
}

#commonLayout-Container {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fafaf9;
  color: #1c1917;
}
