:root {
  --main-color: #fafaf9;
  --sub-color: #eeeeed;
  --light-gray-color: #a8a29e;
  --dark-gray-color: #44403c;
  --text-color: #1c1917;
  --point-color: #2563eb;
  --success-color: #16a34a;
  --warn-color: #991b1b;
}
