:root {
    --main-color : #FAFAF9;
    --sub-color : #F5F5F4;
    --light-gray-color : #A8A29E;
    --dark-gray-color : #44403C;
    --text-color : #1C1917;
    --point-color : #2563EB;
    --success-color : #16A34A;
    --warn-color : #991B1B;
}