.DailyFood {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-food__search {
  padding: 0 1rem;
}

/* 달력 관련 css */
.food-calender {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 1.3rem;
  margin-top: 25px;
  width: 90%;
  border-radius: 10px;
}

.food-calender__calender-icon {
  font-size: 1.2rem;
  margin-right: 15px;
  color: #2563eb;
}

.daily-food__search-header {
  background-color: var(--main-color);
}

.food-calender__downBtn-icon {
  margin-left: 20px;
}

/* 스타일 파일 (예: styles.css) */
.ReactModal__Overlay {
  display: flex;
  flex-direction: column;
}
.modal-content {
  font-size: 1.2rem;
  margin-top: 4rem;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-calendar {
  padding: 0.3rem;
}

/* 총 칼로리 위쪽 */
.DailyFood__total-calorie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 30px 0px;
  span {
    font-size: 24px;
    font-weight: 600;
  }
}

/* 피드 스타일 */

.slick-slider {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 20px;
}

.slick-slide {
  width: 253px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-right: 5px;
}

.DailyFood__Feed {
  width: 253px;
  background-color: var(--main-color);
  padding: 20px;
  height: 25rem;
  border-radius: 10px;
}

.DailyFood__Feed-title {
  border: none;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 45px;
}

.DailyFood__Feed-content {
  overflow-y: auto;
  height: 13rem;
}

.DailyFood__Feed-content-box {
  height: 55px;
  background-color: var(--main-color);
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #b8b3af;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.DailyFood__Feed-content-box-inner {
  width: 100%;
  h3 {
    font-size: 17px;
  }
}
.DailyFood__Feed-content-box > div {
  margin: 0 10px;
}

.DailyFood_Feed-content-box__explain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #b8b3af;
  font-size: 12px;
  div {
    font-size: 10px;
  }
  margin-top: 5px;
}

.DailyFood__Feed-footer {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .DailyFood__Feed-totalCalorie-Num {
    font-size: 24px;
    font-weight: 700;
  }
}

.DailyFoodPage__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.DailyFoodPage__footer-title {
  span {
    font-size: 1.5rem;
    font-weight: 700;
  }
  margin-top: 2rem;
}

.DailyFoodPage__footer-main {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 3rem;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 4rem 0;
}

.DailyFoodPage__footer-main__text-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DailyFoodPage__footer-main__text-part div:first-child {
  border-left: 0.5rem solid rgba(255, 99, 132, 0.2);
  padding: 0.3rem;
}

.DailyFoodPage__footer-main__text-part div:nth-child(2) {
  border-left: 0.5rem solid rgba(54, 162, 235, 0.2);
  padding: 0.3rem;
}

.DailyFoodPage__footer-main__text-part div:last-child {
  border-left: 0.5rem solid rgba(255, 206, 86, 0.2);
  padding: 0.3rem;
}

.DailyFoodPage-chart {
  width: 150px;
}
