.auth-form {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  & label {
    font-size: 0.8rem;
    margin-bottom: 4px;
    color: var(--light-gray-color);
    font-weight: bold;
  }

  & input {
    border: 1px solid var(--light-gray-color);
    height: 50px;
    border-radius: 7px;
    padding-left: 1rem;
  }

  & span {
    color: var(--warn-color);
    font-size: 0.7em;
    position: absolute;
    bottom: -1.3em;
  }
}
