.navbar {
  width: 100%;
  height: 60px;
  background-color: #fafaf9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #1c1917;
}

.nav-item.active {
  color: #2563eb;
}

.nav-item svg {
  width: 30px;
  height: 30px;
}

.nav-item span {
  margin-top: 3.75px;
  font-size: 0.625em;
}
